<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- 
        Awesome Template
        http://www.templatemo.com/preview/templatemo_450_awesome
        -->
		<title>Awesome Responsive Website</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- css file start -->
		<%-include ('link.ejs') %>
    	<!--css file end -->

        <!-- script file start -->
		<%-include ('script.ejs') %>
    	<!--script file end -->
		
	</head>
	<body id="top">

		<!-- start preloader -->
		<%-include ('loader.ejs') %>
    	<!-- end preloader -->

         <!-- start header -->
        <%-include ('header.ejs') %>
         <!-- end header -->

    	<!-- start navigation -->
		<%-include ('navigation.ejs') %>
		<!-- end navigation -->

    	<!-- start contact -->
<section id="contact">
	<div class="container">
		<div class="row">
			<h1>Login Here!!!</h1>
			<font color="blue"><%= output %></font>
    <form method="post" action="login">
        <div class="form-group">
            <label>Username</label>
            <input type="email" class="form-control" name="email" value="<%= cunm%>" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password"  value="<%= cpass%>" required >
        </div>
		<div class="form-group">
			<input type="checkbox" name="chk" value="remember" >
			<label>Remember me?</label>
		  </div>
        <button type="submit" class="btn btn-success">Login</button>
      </form>    
		</div>
	</div>
</section>
<!-- end contact -->

    	<!-- start copyright -->
        <%-include ('copyright.ejs')%>
        <!-- end copyright -->

	</body>
</html>