<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- 
        Awesome Template
        http://www.templatemo.com/preview/templatemo_450_awesome
        -->
		<title>Awesome Responsive Website</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- css file start -->
		<%-include ('link.ejs') %>
    	<!--css file end -->

        <!-- script file start -->
		<%-include ('script.ejs') %>
    	<!--script file end -->
		
	</head>
	<body id="top">

		<!-- start preloader -->
		<%-include ('loader.ejs') %>
    	<!-- end preloader -->

         <!-- start header -->
        <%-include ('header.ejs') %>
         <!-- end header -->

    	<!-- start navigation -->
		<%-include ('navigation.ejs') %>
		<!-- end navigation -->

    		<!-- start portfolio -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>AWESOME</span> PORTFOLIO</h2>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                       <img src="images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img 1">
                            <div class="portfolio-overlay">
                                <h4>Project One</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                <a href="#" class="btn btn-default">DETAIL</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                       <img src="images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img 2">
                            <div class="portfolio-overlay">
                                <h4>Project Two</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                <a href="#" class="btn btn-default">DETAIL</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                       <img src="images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img 3">
                            <div class="portfolio-overlay">
                                <h4>Project Three</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                <a href="#" class="btn btn-default">DETAIL</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                       <img src="images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img 4">
                            <div class="portfolio-overlay">
                                <h4>Project Four</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                <a href="#" class="btn btn-default">DETAIL</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                       <img src="images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img 3">
                            <div class="portfolio-overlay">
                                <h4>Project Five</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                <a href="#" class="btn btn-default">DETAIL</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                       <img src="images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img 4">
                            <div class="portfolio-overlay">
                                <h4>Project Six</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                <a href="#" class="btn btn-default">DETAIL</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                       <img src="images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img 1">
                            <div class="portfolio-overlay">
                                <h4>Project Seven</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                <a href="#" class="btn btn-default">DETAIL</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                    <div class="portfolio-thumb">
                       <img src="images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img 2">
                            <div class="portfolio-overlay">
                                <h4>Project Eight</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                <a href="#" class="btn btn-default">DETAIL</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end portfolio -->


    	<!-- start copyright -->
        <%-include ('copyright.ejs')%>
        <!-- end copyright -->

	</body>
</html>